node_modules/
dist/
*.log
*.tsbuildinfo
.env*
.env.*
.idea/
.vscode/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.github/

examples/**/dist/
examples/**/node_modules/
packages/**/dist/
packages/**/node_modules/
!packages/**/src/
!examples/**/src/
